.page-css{}

.page-css tb-footer{ 
    border-top:1px solid var(--gray-6-light);
    -webkit-backdrop-filter: blur(6px); 
    background-color:rgba(255,255,255,0.8);
    -webkit-transition:background-color .5s cubic-bezier(.28,.11,.32,1);
    transition:background-color .5s cubic-bezier(.28,.11,.32,1);
    -webkit-transition-property:background-color,-webkit-backdrop-filter;
    transition-property:background-color,-webkit-backdrop-filter;
    transition-property:background-color,backdrop-filter;
    transition-property:background-color,backdrop-filter,-webkit-backdrop-filter; 
}
 
.page-css .footer-navigation{
    height:100%;
    width:100%;
    margin-left:auto;
} 

.page-css .footer-navigation-item{background-color:rgba(255,255,255,0); border-radius:6px; width:50px; height:100%; top:26px;}
.device-build .page-css .footer-navigation-item{background-color:rgba(255,255,255,0); border-radius:6px; width:50px; height:100%;}

.page-css .footer-navigation-item-quick{position:absolute; top:-22px; left:50%; transform:translateX(-50%); width: 64px; height:64px; border-radius:100%; background-color:var(--primary); color:var(--white);box-shadow:0px 8px 18px -8px rgba(0, 0, 0, 0.5);}
.device-build .page-css .footer-navigation-item-quick{top:-14px;}
 
.page-css .footer-navigation-item{color:var(--gray-3-dark);}

.page-css .footer-navigation-item[group-active]{color:var(--primary);}
.page-css .footer-icon-count{position:absolute; z-index:3; border-radius: 100%; width: 10px; height: 10px; top: -6px; right: -6px; background-color: var(--primary); border: 2px solid #ffffff;}
.page-css .footer-navigation-item[group-active] .footer-icon-count{background-color:var(--gray-5-dark);}

.page-css .quick-explore-action{background-color: #f9f9f9; margin-bottom:10px; color: var(--primary); border-radius: 6px; padding:10px; padding-top:14px; padding-bottom:14px; font-size:18px;}
.page-css .quick-explore-action tb-icon{font-size:22px !important;}

.page-css .section-padding-sides{padding-left:10px; padding-right:10px;}


.page-css .text-section-header{
    font-size: 30px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0em;
    font-family: 'SF Bold';
    color: var(--black);
}

.page-css .text-section-header-inside {
    font-size: 24px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0em;
    font-family: 'SF Bold';
    color: var(--secondary);
}

.page-css .text-section{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size:17px;
    line-height: 1.47059;
    color:var(--gray-5-dark);
    letter-spacing: -.022em; 
}

.page-css .text-section-inside { 
    font-size:17px;
    line-height: 1.47059;
    color:var(--gray-5-dark);
    letter-spacing: -.022em; 
}

.page-css .example-section{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size:17px;
    line-height: 1.47059;
    color:var(--gray-5-dark);
    letter-spacing: -.022em; 
    border-radius:6px;
    border:1px solid var(--gray-5-light);
    padding:6px;
}


